<script src="js/bootstable.min.js"></script>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Trabajadores
              </div>
              <div class="card ml-2 mb-2 mt-2 mr-2">
                  <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                          <thead class="table-secondary">
                              <tr>
                                <th>Actividad</th>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Celular</th>
                                <th>Tipo</th>
                                <th>Categoria</th>
                                <th>Especialidad</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Actividad</th>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Celular</th>
                                <th>Tipo</th>
                                <th>Categoria</th>
                                <th>Especialidad</th>
                                <th></th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Actividad 1</option>
                                  <option value="A1">Actividad 1</option>
                                  <option value="A2">Actividad 2</option>
                                  <option value="A3">Actividad 3</option>
                                </select></td>
                                <td>Erick Guevara</td>
                                <td>1090500000</td>
                                <td>3170000000</td>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Tipo</option>
                                  <option value="A1">OT</option>
                                  <option value="A2">O</option>
                                  <option value="A3">A</option>
                                </select></td>
                                <td>I</td>
                                <td>Lustrador</td>
                              </tr>
                              <tr>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Actividad 1</option>
                                  <option value="A1">Actividad 1</option>
                                  <option value="A2">Actividad 2</option>
                                  <option value="A3">Actividad 3</option>
                                </select></td>
                                <td>Jesus Cubillos</td>
                                <td>1090500001</td>
                                <td>3170000001</td>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Tipo</option>
                                  <option value="A1">OT</option>
                                  <option value="A2">O</option>
                                  <option value="A3">A</option>
                                </select></td>
                                <td>I</td>
                                <td>Lustrador</td>
                              </tr>
                              <tr>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Actividad 1</option>
                                  <option value="A1">Actividad 1</option>
                                  <option value="A2">Actividad 2</option>
                                  <option value="A3">Actividad 3</option>
                                </select></td>
                                <td>Sarquiat</td>
                                <td>1090500002</td>
                                <td>3170000002</td>
                                <td><select class="selectBuscar" disabled>
                                  <option selected>Tipo</option>
                                  <option value="A1">OT</option>
                                  <option value="A2">O</option>
                                  <option value="A3">A</option>
                                </select></td>
                                <td>I</td>
                                <td>Lustrador</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="card ml-2 mb-2 mt-2">
                        <a class="btn btn-primary btn-block" data-title="Edit" data-toggle="modal" data-target="#editar" href="#">Agregar Trabajador</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-2 mt-2 mr-2">
                        <a class="btn btn-primary btn-block" href="#">Guardar</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal" id="editar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    			<div class="modal-dialog">
    				<div class="modal-content">
    					<div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Agregar Trabajdor</h4>
    						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times" aria-hidden="true"></span></button>
    					</div>
    					<div class="modal-body">
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="small mb-1">Actividad</label>
                      <select class="selectBuscar">
                        <option selected>Seleccionar Act</option>
                        <option value="A1">Actividad 1</option>
                        <option value="A2">Actividad 2</option>
                        <option value="A3">Actividad 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="small mb-1">Nombre</label>
                      <input class="form-control " type="text" placeholder="Nombre Trabajador">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="small mb-1">Cédula</label>
                      <input class="form-control " type="text" placeholder="Cédula">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="small mb-1">Celular</label>
                      <input class="form-control " type="text" placeholder="Celular">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="small mb-1">Tipo</label>
                      <select class="selectBuscar">
                        <option selected>Seleccionar Tipo</option>
                        <option value="A1">OT</option>
                        <option value="A2">O</option>
                        <option value="A3">A</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="small mb-1">Categoria</label>
                      <input class="form-control " type="text" placeholder="Categoria">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="small mb-1">Especialidad</label>
                      <input class="form-control " type="text" placeholder="Especialidad">
                    </div>
                  </div>
                </div>
    					</div>
    					<div class="modal-footer ">
    						<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" id="agg">Aceptar</button>
    					</div>
    				</div>
    				<!-- /.modal-content -->
    			</div>
    			<!-- /.modal-dialog -->
    </div>
  </div>
  <script>
   $('#makeEditable').SetEditable({ $addButton: $('#agg')});
  </script>
  <script>
  	$(document).ready(function() {
  			$('.selectBuscar').select2();
  	});
  </script>
  <!-- ltrabajadores_edit
  <script>
    $('#edit').on('click', function(){
         $('#layoutSidenav_content').load('ltrabajadores_edit.html');
    });
  </script> -->
</main>
