<script src="js/bootstable.min.js"></script>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Materiales
              </div>
              <div class="card ml-2 mb-2 mt-2 mr-2">
                  <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                        <thead class="table-secondary">
                            <tr>
                                <th>Grupo de Procesos</th>
                                <th>Grupo de Actividades</th>
                                <th>Material</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Grupo de Procesos</th>
                                <th>Grupo de Actividades</th>
                                <th>Material</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Procesos</option>
                                <option value="A1">GP 1</option>
                                <option value="A2">GP 2</option>
                                <option value="A3">GP 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Actividades</option>
                                <option value="A1">GA 1</option>
                                <option value="A2">GA 2</option>
                                <option value="A3">GA 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Material 1</option>
                                <option value="A1">Material 1</option>
                                <option value="A2">Material 2</option>
                                <option value="A3">Material 3</option>
                              </select></td>
                            </tr>
                            <tr>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Procesos</option>
                                <option value="A1">GP 1</option>
                                <option value="A2">GP 2</option>
                                <option value="A3">GP 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Actividades</option>
                                <option value="A1">GA 1</option>
                                <option value="A2">GA 2</option>
                                <option value="A3">GA 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Material 1</option>
                                <option value="A1">Material 1</option>
                                <option value="A2">Material 2</option>
                                <option value="A3">Material 3</option>
                              </select></td>
                            </tr>
                            <tr>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Procesos</option>
                                <option value="A1">GP 1</option>
                                <option value="A2">GP 2</option>
                                <option value="A3">GP 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Grupo de Actividades</option>
                                <option value="A1">GA 1</option>
                                <option value="A2">GA 2</option>
                                <option value="A3">GA 3</option>
                              </select></td>
                              <td><select class="selectBuscar" disabled>
                                <option selected>Material 1</option>
                                <option value="A1">Material 1</option>
                                <option value="A2">Material 2</option>
                                <option value="A3">Material 3</option>
                              </select></td>
                            </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="card ml-2 mb-2 mt-2">
                        <a class="btn btn-primary btn-block" href="#" id="mate">Ver Materiales</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2">
                        <a class="btn btn-primary btn-block" data-title="Edit" data-toggle="modal" data-target="#editar" href="#">Asignar</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2 mr-2">
                        <a class="btn btn-primary btn-block" href="#">Guardar</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal" id="editar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    			<div class="modal-dialog">
    				<div class="modal-content">
    					<div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Asignar Material</h4>
    						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times" aria-hidden="true"></span></button>
    					</div>
    					<div class="modal-body">
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="small mb-1">Grupo de Procesos</label>
                        <select class="selectBuscar">
                          <option selected>Seleccionar</option>
                          <option value="A1">GP 1</option>
                          <option value="A2">GP 2</option>
                          <option value="A3">GP 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="small mb-1">Grupo de Actividades</label>
                        <select class="selectBuscar">
                          <option selected>Seleccionar</option>
                          <option value="A1">GA 1</option>
                          <option value="A2">GA 2</option>
                          <option value="A3">GA 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="small mb-1">Material</label>
                        <select class="selectBuscar">
                          <option selected>Seleccionar</option>
                          <option value="A1">Material 1</option>
                          <option value="A2">Material 2</option>
                          <option value="A3">Material 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
    					</div>
    					<div class="modal-footer ">
    						<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" id="agg">Aceptar</button>
    					</div>
    				</div>
    				<!-- /.modal-content -->
    			</div>
    			<!-- /.modal-dialog -->
    </div>
  </div>
  <script>
   $('#makeEditable').SetEditable({ $addButton: $('#agg')});
  </script>
  <script>
  	$(document).ready(function() {
  			$('.selectBuscar').select2();
  	});
  </script>
  <script>
    $('#mate').on('click', function(){
         $('#layoutSidenav_content').load('lmateriales.html');
    });
  </script>
  <!-- materiales_edit
  <script>
    $('#edit').on('click', function(){
         $('#layoutSidenav_content').load('materiales_edit.html');
    });
  </script> -->
</main>
