<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Presupuestos
              </div>
              <div class="card ml-2 mb-2 mt-2 mr-2">
                  <div class="table-responsive">
                    <table class="table table-borderless table-hover table-sortable align-middle" id="tab_logic">
                      <thead class="table-secondary">
                          <tr>
                            <th class="text align-center" colspan="7">Grupo</th>
                          </tr>
                          <tr>
                            <th colspan="7">Capitulo</th>
                          </tr>
                          <tr>
                              <th>Nombre</th>
                              <th>Actividad</th>
                              <th>Cantidad</th>
                              <th>Unidad</th>
                              <th>P.U</th>
                              <th>V.T</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>Nombre</th>
                              <th>Actividad</th>
                              <th>Cantidad</th>
                              <th>Unidad</th>
                              <th>P.U</th>
                              <th>V.T</th>
                              <th></th>
                          </tr>
                      </tfoot>
              				<tbody>
                				<tr id='addr0' data-id="0" class="hidden">
                          <td data-name="nom"><input type="text" name='nom0'  placeholder='Nombre' class="form-control"/></td>
              						<td data-name="act"><select class="js-example-basic-single" aria-label=".form-select" name="act0">
                            <option selected>Elegir actividad</option>
                            <option value="A1">Actividad 1</option>
                            <option value="A2">Actividad 2</option>
                            <option value="A3">Actividad 3</option>
                          </select>
                          </td>
                          <td data-name="can"><input type="text" name='can0' placeholder='#' class="form-control"/></td>
                          <td data-name="uni"><input type="text" name='uni0' placeholder='#' class="form-control"/></td>
                          <td data-name="pu"><input type="text" name='pu0' placeholder='#' class="form-control"/></td>
                          <td data-name="vt"><input type="text" name='vt0' placeholder='#' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del0" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
                        <tr id='addr1' data-id="1" class="hidden">
                          <td data-name="nom"><input type="text" name='nom1'  placeholder='Nombre' class="form-control"/></td>
                          <td data-name="act"><select class="form-select" aria-label=".form-select" name='act1'>
                              <option selected>Elegir actividad</option>
                              <option value="1">Actividad 1</option>
                              <option value="2">Actividad 2</option>
                              <option value="3">Actividad 3</option>
                            </select>
                          </td>
                          <td data-name="can"><input type="text" name='can1' placeholder='#' class="form-control"/></td>
                          <td data-name="uni"><input type="text" name='uni1' placeholder='#' class="form-control"/></td>
                          <td data-name="pu"><input type="text" name='pu1' placeholder='#' class="form-control"/></td>
                          <td data-name="vt"><input type="text" name='vt1' placeholder='#' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del1" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
                        <tr id='addr2' data-id="2" class="hidden">
                          <td data-name="nom"><input type="text" name='nom2'  placeholder='Nombre' class="form-control"/></td>
                          <td data-name="act"><select class="form-select" aria-label=".form-select" name='act2'>
                              <option selected>Elegir actividad</option>
                              <option value="1">Actividad 1</option>
                              <option value="2">Actividad 2</option>
                              <option value="3">Actividad 3</option>
                            </select>
                          </td>
                          <td data-name="can"><input type="text" name='can2' placeholder='#' class="form-control"/></td>
                          <td data-name="uni"><input type="text" name='uni2' placeholder='#' class="form-control"/></td>
                          <td data-name="pu"><input type="text" name='pu2' placeholder='#' class="form-control"/></td>
                          <td data-name="vt"><input type="text" name='vt2' placeholder='#' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del2" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
              				</tbody>
              			</table>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="card ml-2 mb-2 mt-2">
                        <a class="btn btn-primary float-right" href="#" id="add_row">Agregar Presupuesto</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2">
                        <a class="btn btn-primary btn-block" href="#" id="prea">Aceptar</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2 mr-2">
                        <a class="btn btn-danger btn-block" href="#" id="prec">Cancelar</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <script>
    $('#prea').on('click', function(){
         $('#layoutSidenav_content').load('presupuesto.html');
    });
  </script>
  <script>
    $('#prec').on('click', function(){
         $('#layoutSidenav_content').load('presupuesto.html');
    });
  </script>
  <script>
  	$(document).ready(function() {
  			$('.js-example-basic-single').select2();
  	});
  </script>
  <script>
    $(document).ready(function() {
      $("#add_row").on("click", function() {
          // Hacer filas dinamicas
          // Obtener el ix maximo de filas y establecer el nuevo id
          var newid = 0;
          $.each($("#tab_logic tr"), function() {
              if (parseInt($(this).data("id")) > newid) {
                  newid = parseInt($(this).data("id"));
              }
          });
          newid++;
          var tr = $("<tr></tr>", {
              id: "addr"+newid,
              "data-id": newid
          });
          // Hacer un ciclo en cada td y crear los nuevos elementos con el nombre de newid
          $.each($("#tab_logic tbody tr:nth(0) td"), function() {
              var td;
              var cur_td = $(this);

              var children = cur_td.children();
              // Agregar el nuevo td y elemento si tiene nombre
              if ($(this).data("name") !== undefined) {
                  td = $("<td></td>", {
                      "data-name": $(cur_td).data("name")
                  });
                  var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                  c.attr("name", $(cur_td).data("name") + newid);
                  c.appendTo($(td));
                  td.appendTo($(tr));
              } else {
                  td = $("<td></td>", {
                      'text': $('#tab_logic tr').length
                  }).appendTo($(tr));
              }
          });
          // Agregar la nueva fila
          $(tr).appendTo($('#tab_logic'));

          $(tr).find("td button.row-remove").on("click", function() {
               $(this).closest("tr").remove();
          });
        });
  });
  </script>
</main>
