<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Rendimientos
              </div>
              <div class="card ml-2 mb-2 mt-2 mr-2">
                  <div class="table-responsive">
                    <table class="table table-borderless table-hover table-sortable align-middle" id="tab_logic">
              				<thead class="table-secondary">
              					<tr>
              						<th>Grupo de Procesos</th>
              						<th>Actividad</th>
                      		<th></th>
              					</tr>
              				</thead>
                      <tfoot>
                        <tr>
              						<th>Grupo de Procesos</th>
              						<th>Actividad</th>
                      		<th></th>
              					</tr>
                      </tfoot>
              				<tbody>
                				<tr id='addr0' data-id="0" class="hidden">
              						<td data-name="grupo"><input type="text" name='grupo0'  placeholder='Iniciales' class="form-control"/></td>
              						<td data-name="act"><input type="text" name='act0' placeholder='Replanteo' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del0" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
                        <tr id='addr1' data-id="1" class="hidden">
              						<td data-name="grupo"><input type="text" name='grupo1'  placeholder='Iniciales' class="form-control"/></td>
              						<td data-name="act"><input type="text" name='act1' placeholder='Replanteo' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del1" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
                        <tr id='addr2' data-id="2" class="hidden">
              						<td data-name="grupo"><input type="text" name='grupo2'  placeholder='Iniciales' class="form-control"/></td>
              						<td data-name="act"><input type="text" name='act2' placeholder='Replanteo' class="form-control"/></td>
                          <td data-name="del">
                              <button name="del2" class='btn btn-danger btn-block glyphicon glyphicon-remove row-remove text-center'><span aria-hidden="true">×</span></button>
                          </td>
              					</tr>
              				</tbody>
              			</table>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <div class="card ml-2 mb-2 mt-2">
                        <a class="btn btn-primary float-right" href="#" id="add_row">Agregar Rendimiento</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2">
                        <a class="btn btn-primary btn-block" href="#" id="lrena">Aceptar</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-2 mt-2 mr-2">
                        <a class="btn btn-danger btn-block" href="#" id="lrenc">Cancelar</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <script>
    $('#lrena').on('click', function(){
         $('#layoutSidenav_content').load('rendimientos.html');
    });
  </script>
  <script>
    $('#lrenc').on('click', function(){
         $('#layoutSidenav_content').load('rendimientos.html');
    });
  </script>
  <script>
    $(document).ready(function() {
      $("#add_row").on("click", function() {
          // Hacer filas dinamicas
          // Obtener el ix maximo de filas y establecer el nuevo id
          var newid = 0;
          $.each($("#tab_logic tr"), function() {
              if (parseInt($(this).data("id")) > newid) {
                  newid = parseInt($(this).data("id"));
              }
          });
          newid++;
          var tr = $("<tr></tr>", {
              id: "addr"+newid,
              "data-id": newid
          });
          // Hacer un ciclo en cada td y crear los nuevos elementos con el nombre de newid
          $.each($("#tab_logic tbody tr:nth(0) td"), function() {
              var td;
              var cur_td = $(this);

              var children = cur_td.children();
              // Agregar el nuevo td y elemento si tiene nombre
              if ($(this).data("name") !== undefined) {
                  td = $("<td></td>", {
                      "data-name": $(cur_td).data("name")
                  });
                  var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                  c.attr("name", $(cur_td).data("name") + newid);
                  c.appendTo($(td));
                  td.appendTo($(tr));
              } else {
                  td = $("<td></td>", {
                      'text': $('#tab_logic tr').length
                  }).appendTo($(tr));
              }
          });
          // Agregar la nueva fila
          $(tr).appendTo($('#tab_logic'));

          $(tr).find("td button.row-remove").on("click", function() {
               $(this).closest("tr").remove();
          });
        });
  });
  </script>
</main>
