<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Resumen
              </div>
              <div class="form-row">
                <div class="col-md-7">
                  <div id="mat" class="card ml-2 mb-2 mt-2 mr-2">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                              <thead class="table-secondary">
                                  <tr>
                                      <th colspan="7">Materiales</th>
                                  </tr>
                                  <tr>
                                      <th>Descripción</th>
                                      <th>Unidad</th>
                                      <th>Cantidad</th>
                                      <th>Vr Unidad</th>
                                      <th>Vr Parcial</th>
                                      <th>% Incid Parcial</th>
                                      <th>% Incid Total</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                <th colspan="4">Subtotal Materiales</th>
                                <th>100000</th>
                                <th>#%</th>
                                <th>#%</th>
                              </tfoot>
                              <tbody>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div id="mob" class="card ml-2 mb-2 mt-2 mr-2">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                              <thead class="table-secondary">
                                  <tr>
                                      <th colspan="7">Mano de Obra</th>
                                  </tr>
                                  <tr>
                                      <th>Descripción</th>
                                      <th>Unidad</th>
                                      <th>Cantidad</th>
                                      <th>Vr Unidad</th>
                                      <th>Vr Parcial</th>
                                      <th>% Incid Parcial</th>
                                      <th>% Incid Total</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                <th colspan="4">Subtotal Mano de Obra</th>
                                <th>135000</th>
                                <th>#%</th>
                                <th>#%</th>
                              </tfoot>
                              <tbody>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div id="equ" class="card ml-2 mb-2 mt-2 mr-2">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                              <thead class="table-secondary">
                                  <tr>
                                      <th colspan="7">Equipos</th>
                                  </tr>
                                  <tr>
                                      <th>Descripción</th>
                                      <th>Unidad</th>
                                      <th>Cantidad</th>
                                      <th>Vr Unidad</th>
                                      <th>Vr Parcial</th>
                                      <th>% Incid Parcial</th>
                                      <th>% Incid Total</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                <th colspan="4">Subtotal Equipos</th>
                                <th>95000</th>
                                <th>#%</th>
                                <th>#%</th>
                              </tfoot>
                              <tbody>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div id="tra" class="card ml-2 mb-2 mt-2 mr-2">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                              <thead class="table-secondary">
                                  <tr>
                                      <th colspan="7">Transporte</th>
                                  </tr>
                                  <tr>
                                      <th>Descripción</th>
                                      <th>Unidad</th>
                                      <th>Cantidad</th>
                                      <th>Vr Unidad</th>
                                      <th>Vr Parcial</th>
                                      <th>% Incid Parcial</th>
                                      <th>% Incid Total</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                <th colspan="4">Subtotal Transporte</th>
                                <th>83000</th>
                                <th>#%</th>
                                <th>#%</th>
                              </tfoot>
                              <tbody>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                                  <tr>
                                    <td>Desc</td>
                                    <td>Und</td>
                                    <td>#</td>
                                    <td>#$</td>
                                    <td>#$</td>
                                    <td>#%</td>
                                    <td>#%</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div id="tra" class="card ml-2 mb-2 mt-2 mr-2">
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                              <thead class="table-secondary">
                                  <tr>
                                      <th>Sección</th>
                                      <th>Vr Parcial</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Materiales</td>
                                      <td>100000</td>
                                  </tr>
                                  <tr>
                                      <td>Mano de Obra</td>
                                      <td>135000</td>
                                  </tr>
                                  <tr>
                                      <td>Equipos</td>
                                      <td>95000</td>
                                  </tr>
                                  <tr>
                                      <td>Transporte</td>
                                      <td>83000</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div id="grafico"></div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
// Cargar googlecharts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Crear y asignar los valores del grafico
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Sección', 'Costo'],
  ['Materiales', 100000],
  ['Mano de Obra', 135000],
  ['Equipos', 95000],
  ['Transporte', 83000],
]);

  // Cambiar titulo y tamaño del pie
  var options = {'title':'Costos', 'width':450, 'height':300};

  // Muestra el grafico dentro del div con el id grafico
  var chart = new google.visualization.PieChart(document.getElementById('grafico'));
  chart.draw(data, options);
}
</script>
</main>
