<main>
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-12 mt-4">
            <div id="index-card" class="card mb-4">
                <div class="card-header">
                    <h4><i class="fas fa-home"></i> Página Principal</h4>
                </div>
                <% if(locals.user){ %> 
                    <h1 class="text-center mt-4">Bienvenido de vuelta <%= user.NAME%></h1>
                <% } %> 
                <div class="card-body">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">Salarios</h5>
                                    <% if(user.SUPERUSER){ -%>
                                        <p class="card-text">Ver, editar y agregar salarios</p>
                                        <a href="#" class="w-100 btn btn-primary">Ir</a>
                                    <% } else {-%>
                                        <p class="card-text">Ver los Salarios</p>
                                        <a href="#" class="w-100 btn btn-primary">Ir</a>
                                    <% }-%>
                                </div>
                            </div>
                        </div>
                        <% if(!user.SUPERUSER){ -%>
                            <div class="col d-flex justify-content-center">
                                <div class="card w-75">
                                    <div class="card-body">
                                        <h5 class="card-title">Ver los presupuestos</h5>
                                        <p class="card-text">Ver, editar y agregar presupuestos</p>
                                        <a href="#" class="w-100 btn btn-primary">Ir</a>
                                    </div>
                                </div>
                            </div>
                        <% }else{-%>
                            <div class="col d-flex justify-content-center">
                                <div class="card w-75">
                                    <div class="card-body">
                                        <h5 class="card-title">Base de datos</h5>
                                        <p class="card-text">Ver los items agregados por los usuarios</p>
                                        <a href="#" class="w-100 btn btn-primary">Ir</a>
                                    </div>
                                </div>
                            </div>
                        <% }-%>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>