<main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-money-bill-wave mr-1"></i>
                    Salarios
                </div>
                <div class="card ml-2 mt-2 mr-2">
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label class="py-2" for="mul">Multiplicador</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="mul" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="vsm">V.S.M</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="vsm" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="stp">S.T.P</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="stp" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block" href="#">Calcular</a>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block" href="#">Comparar</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="card ml-2 mt-2">
                      <div class="card-header">
                        Prestaciones Sociales
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label class="py-2" for="ca">C.A</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="ca" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="tsc">T.S.C</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="tsc" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="pri">Prima</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="pri" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="vac">Vacaciones</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="vac" type="text" placeholder="###" disabled/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card mt-2 mr-2">
                      <div class="card-header">
                        Aportes Parafiscales
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label class="py-2" for="sena">SENA</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="sena" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="icbf">ICBF</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="icbf" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="ccf">C.C.F</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="ccf" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="fic">F.I.C</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="fic" type="text" placeholder="###" disabled/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="card ml-2 mt-2">
                      <div class="card-header">
                        Seguridad Social
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label class="py-2" for="pen">Pensión</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="pen" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="salu">Salud</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="salu" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="arl">ARL</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="arl" type="text" placeholder="###" disabled/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card mt-2 mr-2">
                      <div class="card-header">
                        Dotación
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label class="py-2" for="dot">Dotación</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="dot" type="text" placeholder="###" disabled/>
                          </div>
                          <div class="col-md-6">
                            <label class="py-2" for="is">I.S</label>
                          </div>
                          <div class="col-md-6">
                            <input class="form-control py-2" id="is" type="text" placeholder="###" disabled/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card ml-2 mb-2 mt-2 mr-2">
                  <a class="btn btn-primary btn-block" href="#">Aceptar</a>
                  <a class="btn btn-primary btn-block" href="#">Calcular Horas Efectivas</a>
                </div>
            </div>
        </div>
          <div class="col-xl-6 mt-4">
              <div class="card mb-4">
                  <div class="card-header">
                      <i class="fas fa-clock mr-1"></i>
                      Calculo de Horas Efectivas
                  </div>
                  <div class="card ml-2 mt-2 mr-2">
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label class="py-2" for="smcp">Salario Mensual C.P</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="smcp" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="sacp">Salario Anual C.P</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="sacp" type="text" placeholder="###" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card ml-2 mt-2 mr-2">
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label class="py-2" for="hca">Horas Calendario Anuales</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="hca" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="hea">Horas Efectivas Anuales</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="hea" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="hl">Horas Laborales</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="hl" type="text" placeholder="###" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card ml-2 mt-2 mr-2">
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label class="py-2" for="vhc">Valor Hora Calendario</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="vhc" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="vhe">Valor Hora Efectiva</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="vhe" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="vhl">Valor Hora Laboral</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="vhl" type="text" placeholder="###" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card ml-2 mt-2 mr-2">
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label class="py-2" for="pi">Porcentaje de Incremento</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="pi" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="vhe2">Valor Hora Efectiva</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="vhe2" type="text" placeholder="###" disabled/>
                        </div>
                        <div class="col-md-6">
                          <label class="py-2" for="vhl2">Valor Hora Laboral</label>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control py-2" id="vhl2" type="text" placeholder="###" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card ml-2 mb-2 mt-2 mr-2">
                    <a class="btn btn-primary btn-block" id="agg">Agregar</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 mt-4">
              <div class="card mb-4">
                  <div class="card-header">
                      <i class="fas fa-table mr-1"></i>
                      Salarios a Emplear
                  </div>
                  <div class="card ml-2 mb-2 mt-2 mr-2">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                            <thead class="table-secondary">
                                  <tr>
                                      <th>#</th>
                                      <th>F.M</th>
                                      <th>Valor</th>
                                      <th>Valor Hora Efectiva</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>#</th>
                                      <th>F.M</th>
                                      <th>Valor</th>
                                      <th>Valor Hora Efectiva</th>
                                      <th></th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                                  <tr>
                                      <td>#</td>
                                      <td>1.2</td>
                                      <td>###</td>
                                      <td>###</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</main>
