<%- include('../structure/header.ejs') %>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <div class="row justify-content-center">
                                            <div style="width: fit-content;">
                                                <img class="logo" src="/login.png" alt="Logo">
                                            </div>
                                        </div>
                                        <h3 class="text-center font-weight-light my-4">Crear una cuenta</h3>
                                    </div>
                                    <%- include ("../partials/messages"); %>
                                    <div class="card-body">
                                        <form action="/user/register" method="POST">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="ingresarNombre">Nombre</label>
                                                        <input class="form-control py-4" name="name" id="ingresarNombre" type="text" placeholder="Ingresar Nombre" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="ingresarCodigo">Código</label>
                                                        <input class="form-control py-4" name="code" id="ingresarCodigo" type="text" placeholder="Ingresar Código" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="ingresarCorreo">Correo</label>
                                                <input class="form-control py-4" name="mail" id="ingresarCorreo" type="email" aria-describedby="emailHelp" placeholder="Ingresar Correo" />
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="ingresarContraseña">Contraseña</label>
                                                        <input class="form-control py-4" name="pass" id="ingresarContraseña" type="password" placeholder="Ingresar Contraseña" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="ingresarContraseñaConfirmar">Confirmar Contraseña</label>
                                                        <input class="form-control py-4" name="pass2" id="ingresarContraseñaConfirmar" type="password" placeholder="Confirmar Contraseña" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0"><button class="btn btn-login btn-block" type="submit"">Registrarse</button></div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/user/login" style="color: #000000;">¿Ya tienes una cuenta? Inicia sesión</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    <%- include('../structure/footer.ejs') %>
    </body>
</html>