<script src="js/bootstable.min.js"></script>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mt-4">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table mr-1"></i>
                  Maquinarias
              </div>
              <div class="card ml-2 mb-2 mt-2 mr-2">
                  <div class="table-responsive">
                      <table class="table table-bordered table-hover align-middle" id="makeEditable" width="100%" height="100%" cellspacing="0">
                          <thead class="table-secondary">
                              <tr>
                                  <th>Nombre</th>
                                  <th>Rendimiento</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Rendimiento</th>
                                  <th></th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr>
                                  <td>Retroexcavadora</td>
                                  <td>10m/h</td>
                              </tr>
                              <tr>
                                  <td>Retroexcavadora</td>
                                  <td>10m/h</td>
                              </tr>
                              <tr>
                                  <td>Retroexcavadora</td>
                                  <td>10m/h</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="card ml-2 mb-2 mt-2">
                        <a class="btn btn-primary btn-block" data-title="Edit" data-toggle="modal" data-target="#editar" href="#">Agregar Maquinaria</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-2 mt-2 mr-2">
                        <a class="btn btn-primary btn-block" href="#" id="save">Guardar</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal" id="editar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    			<div class="modal-dialog">
    				<div class="modal-content">
    					<div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Agregar Maquinaria</h4>
    						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fas fa-times" aria-hidden="true"></span></button>
    					</div>
    					<div class="modal-body">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="small mb-1">Nombre</label>
          							<input class="form-control " type="text" placeholder="Nombre Maquinaria">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="small mb-1">Rendimiento</label>
                        <input class="form-control " type="text" placeholder="Rendimiento">
                      </div>
                    </div>
                  </div>
    					</div>
    					<div class="modal-footer ">
    						<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" id="agg">Aceptar</button>
    					</div>
    				</div>
    				<!-- /.modal-content -->
    			</div>
    			<!-- /.modal-dialog -->
    </div>
  </div>
  <script>
   $('#makeEditable').SetEditable({ $addButton: $('#agg')});
  </script>
  <script>
  	$(document).ready(function() {
  			$('.selectBuscar').select2();
  	});
  </script>
  <!-- lmaquinarias_edit
  <script>
    $('#edit').on('click', function(){
         $('#layoutSidenav_content').load('lmaquinarias_edit.html');
    });
  </script> -->
  <script>
    $('#save').on('click', function(){
         $('#layoutSidenav_content').load('maquinarias.html');
    });
  </script>
</main>
